* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: url('../assets/fundo.jpg') no-repeat center center/cover #3a517ac8;
  background-blend-mode: multiply;
  backdrop-filter: blur(4px);
}

.main {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 24px;
}

.container {
  background: #fff;
  display: flex;
  width: 850px;     
  min-height: 480px;      
  border-radius: 18px;
  overflow: hidden;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.15);
  margin-bottom: 10px;
}

/* lado esquerdo (formulário) */
.left {
  flex: 1.5;  /* mais espaço */
  padding: 35px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start
}

.left h3 {
  font-size: 1.2rem;
  margin-bottom: 15px;
}

label {
  font-size: 0.85rem;
  font-weight: 600;
  margin-bottom: 5px;
  display: block;
}

.input-group {
  margin-bottom: 16px;
}

.input-group input {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 0.9rem;
  background-color: #f4f6f9;
}

button {
  width: 100%;
  padding: 12px;
  background: #243b55;
  color: #fff;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 5px;
}

button:hover {
  background: #293753;
}

/* lado direito (logo e texto) */
.right {
  flex: 1;  /* menorzinho */
  background: #384b70;
  color: #fff;
  text-align: center;
  padding: 30px 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.right img {
  max-width: 120px;
  margin: 0 auto 18px;
}

.right h2 {
  font-size: 1.7rem;
  margin-bottom: 10px;
}

.right p {
  font-size: 1rem;
}

.info-out {
    width: 100%;
    text-align: center;
    padding: 5px 0 15px;
    font-size: 14px;
    color: #fff;
    margin-top: -45px; 
}

.info-out a {
    color: #00bcd4;
    text-decoration: none;
}

.info-out a:hover {
    text-decoration: underline;
}

.form-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px; /* espaço entre colunas */
}

.col {
  display: flex;
  flex-direction: column;
}

button {
  grid-column: span 2; /* botão ocupa as duas colunas */
}
.role-toggle {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.role-toggle button {
  flex: 1;
  padding: 10px;
  border: 1px solid #243b55;
  background: #fff;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
  color: #243b55;
  transition: 0.3s;
}

.role-toggle button.active {
  background: #243b55;
  color: #fff;
}

/* Campos que podem sumir */
.hideable {
  display: none; /* escondido por padrão */
}

/* Quando tiver a classe show */
.hideable.show {
  display: block; /* aparece */
}
